*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Mulish;
}
header{
   height: 58px;
    background: rgba(26, 92, 190, 0.8);
    
}
.logo{
    color: white;
    font-size: 29px;
    line-height: 58px;
    margin-left: 20px;
    font-family: Mulish;
}
.container{
    display: flex;
}
#open,#close{
    display: none;
}
.user{
    display: flex;
    color: white;
    margin-bottom: 20px;
}
#user-icon{
    font-size: 70px;
    margin:0 20px;
    color: #DADADA;
}
#username{
    font-size: 27px;
    margin-top: 10px;
}
#profile{
    font-size: 18px;
}
.menu{
    width: 25%;
    background: #4178C9;
    height: 595px;
    padding-top: 1rem;
}
.menu li{
    list-style: none;
    border-top: 1px solid #ededed;
    padding: 10px 0;
    margin: 0 20px;
}
.menu li a{
    font-size: 27px;
    color: white;
    text-decoration: none;
}
#topic-link{
    display: none;
}
#topic-link a{
    font-size: 18px;
    display: block;
    margin: 10px 20px;
}
#arrow{
    float: right;
    margin-right:20px ;
    margin-top: 5px;
   
}
.text{
    width: 75%;
    height:595px;
    text-align: center;
    background-image: url(./images/kelli-tungay-2LJ4rqK2qfU-unsplash\ 1.png);
    background-position: left;
    background-size: cover;
}
.text button{
    outline: 1px solid blue;
    color: white;
    width: 600px;
    position: relative;
    top: 15rem;
    height: 100px;
    margin: auto;
    background: #4178C9;
    border: 1px solid #4178C9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Mulish;
    font-size: 63px;
    line-height: 74px;
}


@media screen and (max-width: 770px){
    .container{
        display: flex;
        flex-wrap: wrap;
    }
    .open{
        position: absolute;
        z-index: 1;
        margin-top: 1rem;
        font-size: 25px;
        margin-left: 20px;
        color: rgb(236, 213, 213);
    
    }
    .close{
        margin-top: auto;
        margin-top: 1rem;
        margin-left: 260px;
        z-index: 1;
        position: absolute;
        color: whitesmoke;
        font-size: 30px;
    }
    
    #open{
        display: block;
    }
    #close{
        display: none;
    }
    .menu{
        position: absolute;
        z-index: 1;
        width: 300px;
        background: #4178C9;
        padding-bottom: 0;
        padding-top: 3rem;
    }
    .text{
        width: 100%;
        position: relative;
    }
    #links{
        display: none;
    }
    
    .text button{
        width: 200px;
        top: 7rem;
        height: 50px;
        margin: auto;
        font-size: 30px;
        line-height: 20px;
    }

}